@page {
    size: 210mm 297mm;

    @bottom-center {
        vertical-align: bottom;
        content: element(footer);
        padding-bottom: 10px;
    }

    margin-top: 1cm;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-bottom: 2cm;
}

div.footer {
    font-size: 11px;
    border-top: solid 1px;
    display: block;
    position: running(footer);
    margin-left: 0px;
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

ol.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

html * {
    font-family: Helvetica, Dialog;
    margin: 0px;
}

body {
    line-height: 200%;
    font-family: Arial;
    font-size: 8px;
}

br {
    display: block;
    margin: 1em 0;
}

table {
    width: 750px;
    border: 0px;
    border-spacing: 0px;
    font-size: 11px;
}

tr {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    width: 600px;
    border: solid 2px #666666;
    display: block;
    margin-top: 15px;
}

#imgWithLegend {
    float: left;
    width: 550px;
}

#legend {
    width: 150px;
    border: solid 2px black;
    padding: 0px;
    display: block;
    margin-top: 15px;
    float: right;
}

#imgHeader {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin-top: 0px;
}

#table tr:nth-child(even) {
    background-color: #dddddd;
    font-size: 8px;
    text-align: center;
    color: black;
}

#table {
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
}

#table tr {
    margin-bottom: 0px;
}

#table tr:nth-child(odd) {
    font-size: 8px;
    text-align: center;
    color: black;
}

#table tr td:first-child {
    text-align: left;
}

#table tr td {
    text-align: center;
}

#table tr:first-child td {
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    color: black;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

#tablesmall {
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#tablesmall tr {
    margin-bottom: 0px;
}

#tablesmall tr:nth-child(odd) {
    font-size: 8px;
    text-align: center;
    color: black;
}

#dashboard {
    width: 600px;
    margin-left: 80px;
    margin-top: 60px;
}

#dashboard tr td {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #336666;
    height: 100px;
    text-align: center;
    border: 15px solid white;
    padding: 20px;
}

.title {
    color: #999999;
    font-weight: bold;
    text-decoration: underline;
}

#figure {
    text-align: center;
}

#tableNumber {
    text-align: center;
    margin-bottom: 5px;
}

#scientificName {
    font-style: italic;
}

.content {
    margin: 30px;
}

div {
    /*page-break-inside: avoid;*/
}

p {
    font-size: 11px;
}

h1 {
    page-break-before: always;
}

.odd {
    background: #dddddd;
}

#species table {
    margin-left: 110px;
}

#species img {
    margin-left: 70px;
}

#mapPage img {
    margin-left: 70px;
}

#mapPage #imgWithLegend {
    margin-left: 0px;
}

#mapPage #legend {
    margin-left: 0px;
}

#tableOfContents {
    width: 500px;
    margin-left: 100px;
    font-size: 14px;
}

#tableOfContents h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

#tableOfContents span {
    float: right;
}

#tableOfContents li {
    list-style: none;
}

#tableOfContents a {
    text-decoration: none;
    color: black;
}
